[submodule "innertube-qt"]
	path = deps/innertube-qt
	url = https://github.com/BowDown097/innertube-qt
[submodule "interface"]
	path = deps/interface
	url = https://github.com/BowDown097/qttube-plugin-interface
